<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Admin</a>
    </div>

    <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']">
            <a routerLink="../home">dashboard</a>
          </li>
      <li class="" [routerLinkActive]="['active']">
        <a routerLink="../register" >register</a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="../about">About</a>
      </li>
      <li [routerLinkActive]="['active']">
          <a routerLink="../usertable">user data</a>
        </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <!-- <a href="#">name: {{hero1.name | uppercase}}</a> -->
          </li>
          <li>
            <!-- <a href="#">id: {{hero1.id}}</a> -->
          </li>
          <li>
            <!-- <input [(ngModel)]="hero.name" /> -->
          </li>
        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <div>
            <img  class="pic" src="http://localhost:3000/uploads/{{s}}" />
          
            <a class="a" (click)="logout()" >  Logout </a>
          </div>
      </li>
      <!-- <li><a routerLink=""><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
    </ul>
  </div>
</nav>
