<app-navbar></app-navbar>
<div id="wrapper">
  <div id="page-wrapper">
    <div class="row ">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            form > edit
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    Update user details
                  </div>
                  <div class="panel-body">
                    <form #form="ngForm" (ngSubmit)="edit(form)">
                      <div class="form-group">
                        <input class="form-control" [(ngModel)]="name" name="name" type="text" value={{name}}>
                      </div>

                      <div class="form-group">
                        <input class="form-control" placeholder="E-mail" [(ngModel)]="email" name="email" type="email" value={{email}}>
                      </div>

                      <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" [(ngModel)]="role" name="role">
                          <option value="0" [selected]="role === 0">user</option>
                          <option value="1" [selected]="role === 1">admin</option>
                          <!-- <option *ngFor="let c of temp" [ngValue]="c">{{ c }}</option> -->
                        </select>
                        <label>Status</label>
                        <select class="form-control" [(ngModel)]="status" name="status">
                          <option value="0" [selected]="status === 0">not active</option>role
                          <option value="1" [selected]="status === 1">active</option>
                        </select>
                      </div>
                    

                      <input class="btn btn-lg btn-block" type="submit" value="edit" />
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                  <button class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">upload</button>
              </div>
                <!-- <div class="panel panel-default"> </div> -->
                <!-- <div class="panel-heading"> -->
                  <!-- Update user profile image -->
                <!-- </div> -->
                <!-- <div class="panel-body"> -->
                  <!-- <form> -->
                    <!-- <img src="http://localhost:3000/uploads/{{img}}" alt="image" />
                    <input type="file">
                    <input class="btn btn-sucess" type="submit" value="submit"> -->
                    <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                      Upload an Image
                    </button>
                  </form> -->
                  <!-- <form> -->
                    <!-- <img src="http://localhost:3000/uploads/{{img}}" alt="image" />
                    <input type="file">
                    <input class="btn btn-sucess" type="submit" value="submit"> -->
                    <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

                    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                      Upload an Image
                    </button>
                  </form> -->
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>